@font-face {
  font-family: myfont;
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
#effettoslide, #effettoabout, #bloghead, #bgrid1, #bgrid2, #bgrid3, #bgrid4, #bgrid5, #bgrid6, #infobutton, #intromenu, #menu1, #menu2, #menu3, #menubutton, #newscont , #contacts , #contactinfo {
  opacity: 0;
}
body {
  font-family: myfont;
  font-size: 14px;
  font-weight: 400px;
}
header, #effetoslide, #effettoabout, #blogcontainer, #intromenu, #menulist, #news, #contactinfo, #containercont {
  transition: 0.5s;
}
button {cursor: pointer;}
#intromenu {
  text-align: center;
  padding-top: 50px;
  padding: 0px 15px;
  padding-top: 70px;
  margin: 0px auto;
}
#intromenu h3 {
  font-size: 22px;
  padding: 40px 0px;
}
#intromenu span {font-size: 28px;}
#intromenu p {
  color: #9d9d9d;
  font-size: 16px;
  line-height: 20px;
  padding-top: 40px;
  padding-bottom: 57px;
}
#intromenu h4 {
  padding-top: 100px;
  width: 100%;
}
#intromenu hr {
  width: 140px;
  height: 0px;
  background: #c8c1b3;
}
#menu span {color: #ff530a;}
#menulist {
  text-align: left;
  margin: 0px auto;
  padding: 0px 15px;
  font-size: 20px;
  font-weight: 600;
}
#menulist span {
  font-size: 20px;
  font-weight: 600px;
}
#menulist h3 {padding-bottom: 2px;}
#menulist h4 {
  padding-top: 42px;
  font-size: 20px;
  width: 100%;
}
#menulist P {
  padding-top: 5px;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}
#menulist button {
  color: #ff5f33;
  text-decoration: none;
  font-size: 18px;
  font-family: myfont;
  background-color: #ffffff;
  padding: 30px 69px;
  border: 1px solid #ff5f33;
}
#menulist button:hover {
  background-color: #ff5f33;
  color: #ffffff;
  border-color: #b3b3b3;
}
#menubutton {
  text-align: right;
  padding: 10% 0% 10%;
}
.border-bottom {
  margin-top: 90px;
  width: 89%;
  height: 0px;
  border: 1px dotted #c9c9c9;
  position: relative;
}
.titolomenu {
  display: flex;
}
.pricemenu {
  position: absolute;
  padding-left: 90%;
  padding-top: 67px;
}

#header-banner {
  position: relative;
  padding-bottom: 50px;
}
#overlay-pattern {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
#overlay-pattern::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/overlay-pattern.png) #000000;
  opacity: 0.3;
}
#header-img {
  max-width: 100%;
  height: auto;
}
#banner-over {
  position: absolute;
  width: 100%;
}
.logo-img {
  width: 20px;
  height: auto;
}
header {
  background: rgba(255, 255, 255, 0.89);
  padding: 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -130px;
  margin-bottom: 40px;
  z-index: 100;
}
input#menuButton {display: none;}
input#menuButton:checked ~ nav {height: 200px;}
header nav ul li {
  color: #2e2e2e;
  padding: 8px 0px;
  margin: 0px 15px;
  font-size: 15px;
  text-transform: uppercase;
  list-style: none;
}
header nav ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ff5333;
  transition: width 0.5s;
}
header nav ul li:hover::after {
  width: 100%;
  transition: width 0.5s;
}
header nav ul li a {
  text-decoration: none;
  color: #2e2e2e;
}
#slide {
  margin: 0 auto;
  width: 85%;
}
#slide_titolo_1 {
  font-size: 1.5rem;
  display: inline-block;
}
#slide_titolo_1 span {
  color: #ff530a;
}
#slide_sotto_titolo {
  display: flex;
  justify-content: space-between;
}
#slide_arrow {
  margin-right: 0%;
}
#slide i {
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
}
#slide_position {
  width: 30%;
  margin: 2% 38%;
}
#slide_position i {
  font-size: 1rem;
}
#slide img {
  width: 20%;
  margin: 4px;
  cursor: pointer;
}
#slide_position #slide_dot_1 {color: red;} 
#about {
  background-color: #f6f6f6;
  padding: 100px 0px;
}
#aboutcont {
  padding: 0px 0px 0px 0px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
#aboutcont h1 {
  padding: 40px 0px;
  font-size: 22px;
  color: #2e2e2e;
  font-weight: 300;
}
#aboutcont h1 span {
  color: #ff530a;
  font-size: 28px;
  font-weight: bold;
}
#aboutcont p {
  color: #959595;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 0px;
}
#news {
  text-align: center;
  background: url(../images/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
#news::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/overlay-pattern.png) #000000;
  opacity: 0.3;
}
#newscont {
  padding: 100px 15px;
  position: relative;  
}
#h1news {
  color: white;
  position: relative;
  padding: 40px 0;
  font-size: 30px;
}
#h1news span {
  color: #ff530a;
  font-size: 27px;
  font-weight: 600;
}
#pnews {
  font-size: 18px;
  padding: 25px 0px;
  color: #fff;
}
#newscont #formbutton {
  display: block;
  margin-top: 20px; 
}

#newscont #btnform {
  color: #fff;
  font-weight: 600;
  font-family: myfont;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 215px;
  height: 65px;
  border: none;
  background: #7ec3bb;
}
#newscont #btnform:hover {
  background-color: #76afaa;
  cursor: pointer;
  transition: 0.5s all;
}

#contacts {padding: 60px 0px;}
#containercont {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 
#containercont h1 {
  font-weight: 500;
  color: #2e2e2e;
  padding: 40px 0px;
  position: relative;
  text-align: center;
}
#btnsendmessage {
  width: 100%;
  background: #ff4f02;
  color: #fff;
  font-weight: 600;
  height: 50px;
  text-decoration: none;
  border: none;
  font-family: myfont;
  font-size: 14px;
}
#containercont h1 span {
  color: #ff530a;
  font-weight: 600;
}
#h3contact {
  padding: 20px 0px;
  font-size: 20px;
}
#h3contact span {color: #ff5333;}
#formcontacts {
  height: 46px;
  width: 100%;
  font-family: myfont;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}
#formcontgroup {
  margin-bottom: 15px;
  border-radius: none;
  margin-right: 15px;
}
#formtextarea {
  height: 46px;
  width: 100%;
  font-family: myfont;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  padding-top: 10px;
}
#lineablog {
  height: 1px;
  width: 140px;
  background-color: #c8c1b5;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
#blog h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}
#blog span {
  color: #ff530a;
  font-size: 28px;
}
#lineablog2 {
  height: 1px;
  width: 90px;
  background-color: #c8c1b5;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
#gridblog {
  width: 100%;
  padding: 40px 0px 30px;
}
.blogimg img {transition: 1s;}
.blogimg {
  transition: 1s;
  width: 100%;
  margin-bottom: -3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#blog {
  padding-bottom: 90px;
  padding-top: 50px;
  background-image: url(../images/blog/blog-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#blog:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/overlay-pattern.png) #000000;
  opacity: 0.3;
}
#bloghead {position: relative;}
#blogbox {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
#blogcontent {
  position: relative;
  z-index: 2;
  padding: 20px 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}
#blog h3 {
  font-size: 20px;
  padding: 0px 40px 20px;
}
#blog p {
  font-size: 14px;
  color: #959595;
  padding: 25px 0px 0px;
}
#blog h1 {
  font-size: 22px;
}
.blogimg img:hover {
  position: relative;
  z-index: 0;
  transform: scale(1.2) rotate(8deg);
}
#infobutton {
  background-color: #ff530a;
  color: #ffffff;
  margin-top: 60px;
  padding: 28px 85px;
  font-size: 16px;
  border-width: 1px;
  border-color: #ff530a;
  transition: 0.5s;
  font-family: myfont;
  position: relative;
}
#infobutton:hover {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  color: #ff530a;
  border-color: #ff530a;
  border-width: 1px;
}
#freccia, #freccia2 {
  transform: rotate(45deg);
  background-color: white;
  width: 30px;
  height: 30px;
  z-index: 2;
}
#contactinfo {padding: 10px 15px 70px 15px;}
.fborder {
  background-color: rgb(185, 185, 185);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.fborder:hover {background-color: #FF4F02;}
footer span {
  color: #ff5f33;
  font-size: 20px;
}
#contactinfo span {
  color: #ff5f33;
  font-size: 20px;
}
#contactinfo h4 {
  font-size: 20px;
}

#contact h4 {
  padding: 0px 0px 10px;
  color: #ff5f33;
  font-size: 18px;
}
#contact i {
  font-size: 18px;
  color: #474747;
  margin-right: 2rem;
}
#contact p {
  font-size: 14px;
  margin-bottom: 25px;
}
#contact {
  padding-top: 45px;
  padding-bottom: 50px;
}  
#blogfooter h3 {
  font-size: 20px;
  padding-bottom: 45px;
}  
#blogfooter h4 {
  padding-bottom: 10px;
}
#blogfooter p {
  padding-bottom: 25px;
}
#blogfooter {
  padding: 0px 0px 50px;
}
#footerbot h3 {
  font-size: 20px;
  padding-bottom: 45px;
}
#footerbot img {
  margin: 0px 20px 25px 0px;
  cursor: pointer;
}
#footerbot i {
  width: 40px;
  height: 30px;
  text-align: center;
  margin-right: 20px;
  margin-top: -20px;
  padding-bottom: 50px;
  padding: 8px 0px 0px;
  cursor: pointer;
}
footer {
  background-color: #E9E9E9;
  color: #454545;
  padding: 28px 0;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.4;
}
footer p span {
   font-size: 16px;
}

@media screen and (max-width: 767px) {
  header nav {
    height: 0;
    overflow: hidden;
    position: absolute;
    padding-top: 15px;
    top: 89px;
    background-color: rgba(255, 255, 255, 0.89);
    width: 100%;
    left: 0;
    transition: height 0.3s ease-out;
  }
  a:-webkit-any-link {
    color: #2e2e2e;
    font-size: 15px;
    font-weight: 500;
  }
  #img-hamburger {
    width: 26px;
    height: 26px;
  }
  #img-hamburger:hover {cursor: pointer;}
  #slide_images #slide_img_3 {display: none;}
  #slide_images #slide_img_4 {display: none;}
  #slide #slide_img_1 {width: 100%;}
  #slide #slide_img_2 {display: none;}
  #slide #slide_position {width: 70%;}
  #slide #slide_position i {font-size: 0.5rem;}
  .border-bottom {display: none;}
  .pricemenu {
    position: relative;
    padding: 0%;
  }
  .titolomenu {display: block;}
  #freccia, #freccia2 {display: none;}
  #newscont #formedit {
    width: 100%;
    font-size: 16px;
    font-family: myfont;
    background: #fff;
    opacity: 0.9;
    border: none;
    height: 50px;
  }
  #formgroup {text-align: left;}
  #h1news {
    font-weight: 400;
    font-size: 30px;
  }
  #aboutcont {padding: 0px 15px;}
  #aboutcont p {padding-bottom: 0px;}
  #formtextarea {height: 120px;}
  

}

@media screen and (min-width: 768px) {
  #menulist {width: 720px;}
  #intromenu {width: 720px;}
  input#menuButton:checked ~ nav {height: 33px;}
  .pricemenu {
    position: absolute;
    margin-top: -100px;
    padding-left: 670px;
    margin: 0px auto;
  }
  #intromenu h3 {font-size: 36px;}
  #intromenu span {font-size: 45px;}
  #menulist h4 {font-size: 24px;}
  #infocontacts {
    margin: 20px;
    margin-bottom: 100px;
    margin-left: 5%;
  }
  #menuMobile {
    display: none;
    width: 22px;
    height: 22px;
  }
  header {width: 688px;}
  header nav ul {text-align: right;}
  header nav ul li {
    display: inline-block;
    margin: 0px 15px;
  }
  header nav ul li a {
    color: #2e2e2e;
    padding: 10px 0px;
    font-size: 15px;
    text-transform: uppercase;
  }

  #slide {width: 710px;}
  #slide_images #slide_img_3 {display: none;}
  #slide_images #slide_img_4 {display: none;}
  #slide #slide_img_1 {width: 48%;}
  #slide #slide_img_2 {width: 48%;}
  #slide #slide_position {margin-left: 44%;}
  #slide #slide_position #slide_dot_5 {display: none;}
  #slide #slide_position #slide_dot_6 {display: none;}
  #slide #slide_position #slide_dot_7 {display: none;}
  #slide #slide_position #slide_dot_8 {display: none;}

  #aboutcont h1 span {font-size: 45px;}
  #aboutcont h1 {font-size: 36px;}
  #aboutcont p {margin: 0 80px;}
  #newscont #formgroup {
    margin: 0px auto;
    width: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #newscont #h1news {
    letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 2.2rem;
  }
  #newscont #h1news span {
    font-weight: 600;
    font-size: 2.6rem;
  }
  #newscont #formedit {
    margin-top: 20px;
    border-radius: none;
    border: none;
    width: 100%;
    height: 63px;
    background-color: #e7e7e7;
  }
  #newscont #pnews {padding: 15px;}

  #contacts {text-align: center;}
  #contacts #h3contact {text-align: left;}
  #formtextarea {height: 120px;}
  #btnsendmessage {
    float: center;
    color: #fff;
    font-weight: 600;
    width: 68%;
    margin-top: 10px;
  }
  #containercont {
    width: 750px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #contactspan {font-size: 45px;}
  #containercont h1 {
    font-size: 36px;
    text-align: center;
  }
.blogimg img {
  height: 100%;
  width: 100%;
}
.bgrid {
  display: grid;
  grid-template: 100% / 360px 360px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#blogcontainer {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}
#infobutton {
  margin-top: 30px;
  padding: 28px 102.5px;
}
#blog {text-align: center;}
#freccia2 {
  position: absolute;
  margin: -70px 0px 0px 310px;
}
#freccia {
  position: absolute;
  margin: -70px 0px 0px -50px;
}
#blog h1 {font-size: 36px;}
#blog span {font-size: 45px;}
#blogcontent h3 {padding-top: 30px;}

#contactinfo {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}
#contact {
    display: grid;
    grid-template: 100% / 225px 225px 225px;
    grid-gap: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  #menulist {
    width: 940px;
    margin: 0px auto;
  }
  .pricemenu {
    position: absolute;
    margin-top: -100px;
    padding-left: 890px;
    margin: 0px auto;
  }
  #infocontacts {
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
  }
  #contactinfo #fa {
    padding-top: 5px;
    padding-bottom: 27px;
  }
  #contactinfo #fa {
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 22px;
  }
  header nav ul li a {
    color: #2e2e2e;
    padding: 10px 0px;
    font-size: 15px;
    text-transform: uppercase;
  }
  header {width: 908px;}
  #slide {width: 930px;}
  #slide #slide_dot_3 {display: none;}
  #slide #slide_dot_4 {display: none;}
  #slide #slide_img_3 {
    display: inline;
    width: 23%;
  }
  #slide #slide_img_4 {
    display: inline;
    width: 23%;
  }
  #slide #slide_img_1 {width: 23%;}
  #slide #slide_images {
    display: flex;
    justify-content: center;
  }
  #slide #slide_img_2 {width: 23%;}
  #slide #slide_position {margin-left: 50%;}

  .bgrid {
      height: 266px;
      width: 470px;
      grid-template: 100% / 235px 235px;
      background-color: white;
      z-index: 2;
      overflow: hidden;
  }
  #blogcontent {padding: 40px 35px 23px;}
  #blogcontainer {
      width: 940px;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 470px 470px;
  }
  .blogimg {
      height: 217px;
      width: 290px;
  }
  #freccia2 {
      position: absolute;
      margin: -86px 0px 0px 186px;
  }
  #freccia {
      position: absolute;
      margin: -86px 0px 0px -50px;
  }
  #blogcontent h3 {padding-top: 0px;}

  #aboutcont h1 span {font-size: 45px;}
  #aboutcont hr {width: 140px;}

  #newscont #h1news {
    font-weight: 400;
    letter-spacing: normal;
  }
  #newscont #pnews {padding-top: 15px;}
  #newscont #btnform {font-size: 16px;}
  #newscont hr {width: 132px;}
  #newscont {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
  }
  #h1news{
    font-size: 38px;
  }
  #h1news span{
    font-size: 46px;
    font-weight: 600;
  }

  #contacts {padding: 0px 15px;}
  #contacts #containercont h1 {font-size: 36px;}
  #contacts #h3contact {font-size: 20px;}
  #contacts #containercont h1 {padding-top: 110px;}
  #formcontacts {
    font-size: 14px;
    color: #00000035;
  }
  #formtextarea {height: 140px;}
  #contacts #btnsendmessage {width: 512px;}
  #containercont {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }
  #btnsendmessage {padding: 0px;}
  #h3contact {margin: 0px 0px;}
  #contactspan {font-size: 45px;}
  #aboutcont h1 {font-size: 36px; line-height: 1.1;}
  #aboutcont {width: 940px;}
  #contact {
    display: initial;
  }
  #contactinfo {
    width: 970px;
    display: grid;
    grid-template: 100% / 295px 295px 295px;
    grid-gap: 30px;
    justify-content: center;
    padding-top: 140px;
  }
  #spaziocontact {padding-top: 45px;}
}

@media screen and (min-width: 1200px) {
  #slide {width: 1130px;}
  header {width: 1108px;}

  #blogbox {
    width: 1140px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
  }
  #infobutton {
    margin-left: auto;
    margin-right: auto;
  }
  #blogcontainer {
    width: 1140px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 570px 570px;
  }
  .blogimg {
    height: 220px;
    width: 285px;
  }
  .bgrid {
    height: 219px;
    width: 570px;
    grid-template: 100% / 285px 285px;
    background-color: white;
    z-index: 2;
    overflow: hidden;
  }
  #infobutton {margin-top: 0px;}
  #freccia2 {
    position: absolute;
    margin: -86px 0px 0px 235px;
  }
  
  #aboutcont {width: 1140px;}
  #containercont {width: 1140px;}
  #contacts #containercont h1 {padding-top: 110px;}

  #newscont {width: 1140px;}

  #intromenu {width: 1140px;}
  #menulist {
    width: 1140px;
    margin: 0px auto;
  }
  .pricemenu {
    position: absolute;
    margin-top: -100px;
    padding-left: 1090px;
    margin: 0px auto;
  }
  #contactinfo {
    width: 1170px;
    grid-template: 100% / 360px 360px 360px;
  }
}
