@font-face {
    font-family: myFirstFont;
    src: url("../fonts/fontawesome-webfont.woff");
  }
body{
     font-family:fontawesome-webfont; 
     margin: 0 auto;
     
}
  /* cristian */
#intromenu {
	text-align: center;
	padding: 50px 10px 100px;
}

#intromenu h3 {
	font-size: 16px;
	padding-bottom: 40px;
}

#intromenu p {
	color: #9D9D9D;
	font-size: 16px;
	line-height: 20px;
padding-left: 10px;
padding-right: 10px;
}

#intromenu hr {
	width: 140px;
	height: 1px;
	background: #C8C1B3;
	margin: 10px auto 50px;
}

#menu span {
	font-size: 25px;
	color: #ff530a;
	font-weight: 600;
}

#menulist {
	text-align: left;
	padding-left: 20px;
	padding-right: 100px;
	font-size: 20px;
	font-weight: 600;
}

#menulist span {
	font-size: 20px;
	font-weight: 600px;
}

#menulist h3 {
	padding-bottom: 60px;
}

#menulist h4 {
	padding: 21px 0px;
   width: 200%;
}

#menulist P {
	padding: 1px 0px 10px;
	color: #a3a3a3;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0px;
}

#menulist button {
	color: #FF5F33;
	text-decoration: none;
	font-size: 18px;
	background-color: #FFFFFF;
	padding: 30px 69px;
	border: 1px solid #FF5F33;
}

#menulist button:hover {
	background-color: #FF5F33;
	color: #FFFFFF;
	border-color: #B3B3B3;
}

#menubutton {
	text-align: right;
	padding: 10% 0% 10%;
}
.border-bottom {
    margin-top: 40px;
    margin-left: 2px;
    width: 80%;
    height: 1px;
    border: 1px dotted #C9C9C9;
    position: relative;
}
.titolomenu {
    display: flex;
}
.pricemenu {
    position: absolute;
padding-left: 75%;
padding-top: 1%;
}
/* eloise */

#header-banner{
    position: relative;
}

.header-img {
    max-width: 100%;
    height: auto;
}

header {
    background: rgba(255, 255, 255, 0.89);
    width: 85%;
    padding: 1em;
    /* position: sticky; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#top_area {
    background-image: url(../images/header.jpg);
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

input#menuButton {
    display: none;
}

input#menuButton:checked ~ nav {
    height:200px;
} 

header nav ul li {
    color: #2E2E2E;
    padding: 10px 0px;
    margin: 0px 15px;
    font-size: 15px;
    text-transform: uppercase;
}


/* sebastian */

#slide {
	
	/*margin: 0 auto;*/
	padding:20px;
	box-sizing: border-box;
 
 }
 #slide_titolo_1{
	 font-size:1.5rem;
	 display:inline-block;
 }
 #slide_titolo_1 span{
	 color:orange;
 }
 #slide_sotto_titolo{
	 display:flex;
	 justify-content:space-between;
 }
 #slide_arrow{
	 margin-right: 15%;
 }
 #slide i{
	 font-size:1.5rem;
	 color:gray;
 }
 #slide_position{
	 width:30%;
	 margin: 2% 38%;
 }
 #slide_position i{
	 font-size: 1rem;
	 
 }
 #slide img{
	 width:20%;
	 margin:4px;
 }
#slide_position #slide_dot_1{
    color:red;
}


/* salvatore */

#about {
    background-color: #F6F6F6;
    padding: 100px 0px 30px 0px;
}
    .aboutcont {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .aboutcont h1 {
    padding: 40px 0px;
    font-size: 22px;
    color: #2E2E2E;
    font-weight: 300;
    
    }
    
    .aboutcont h1 span {
        color: #ff530a;
        font-size: 28px;
        font-weight: bold;
        
    }
    .aboutcont p {
    color: #959595;
    font-size: 16px;
    line-height: 26px;
    padding: 40px 0px;
    }    

    /* news */

#news {
    padding: 100px 0px;
    text-align: center;
    background: url(../images/subscribe-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

    #news::before  {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/overlay-pattern.png) #000000;
    opacity: 0.3;
    }

    .newscont {
    padding: 0 10px;
    margin: 0 auto;
    }
     
    .newsconttwo {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    }    

    #news .h1news {
    color: white;
    position: relative;
    padding: 40px 0;
    font-size: 30px;
    }

    .h1news span {
    color: #ff530a;
    }
    
    .newsconttwo p {
    padding: 25px 0px;
    color: #fff;
    font-size: 18px;
    }

    .newscont .newsconttwo #formedit {
    width: 100%;
    background: #fff;
    opacity: 0.9;
    border: none;
    height: 65px;
    border-radius: 0px;
    float: inherit;
    }
    
    .newscont .newsconttwo .formbutton {
    padding: 0px;
    border: none;
    background: none;
    display: block;
    margin-top: 20px;
    text-align: start;
    }

    .newscont .newsconttwo .btnform {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 215px;
    height: 65px;
    border: none;
    background: #7EC3BB;  
    }

    .newscont .newsconttwo .btnform:hover {
    background-color: #76afaa;
    cursor: pointer;
    transition: .3s all;
    }
    

/* leo */
#lineablog {
    height: 1px;
    width: 140px;
    background-color: #c8c1b5;
}
#lineablog2 {
    height: 1px;
    width: 90px;
    background-color: #c8c1b5;
    margin-left: auto;
    margin-right: auto;
}


.blogcontaier {
    width: 100%;
    padding: 40px 0px 30px;
}

.blogimg {
    width: 100%;
    margin-bottom: -3px;
    position: relative;
    transition: 1s;
}

.blogcontent {
    z-index: 1;
    padding: 20px 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}
#blog h3 {
    font-size: 20px;
    padding: 0px 40px 20px;
}
#blog p {
    font-size: 14px;
    color: #959595;
    padding: 25px 0px 0px;
}
#blog h1 {
    font-size: 22px;
}
.blogimg:hover{
    position: relative;
    z-index: -1;
    transform: scale(1.2) rotate(10deg);

}
#info {
    background-color: #ff530a;
    color: #ffffff;
    margin-top: 30px;
    padding: 28px 85px;
    font-size: 16px;
    border-width: 0px;
    transition: 0.5s;
}
#info:hover {
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0);
    border-color: #ff530a;
    border-width: 1px;
}


@media screen and (max-width: 767px) {

/* cristian */

.border-bottom {
    display: none;
}
.pricemenu
{
position: relative;
padding: 0%;
}
.titolomenu {
    display: block;
}
/* eloise */
header nav {
    height: 0;
    overflow: hidden;
    position: absolutes;
    width: 100%;
    transition: height 0.5s ease-out;
}

#img-hamburger {
    width: 26px;
    height: 26px;
}

#img-hamburger:hover {
    cursor: pointer;
}






/* sebastian */
#slide_images #slide_img_3{
    display:none;
}
#slide_images #slide_img_4{
    display:none;
}
#slide #slide_img_1{
    width: 45%;

}
#slide #slide_img_2{
    width: 45%;
    
}




/* salvatore */






/* leo */

	
}
@media screen and (min-width: 768px) {
/* cristian */

#menulist {
    padding-left: 10%;
}

/* eloise */
#menuMobile {
    display: none;
    width: 22px;
    height: 22px;
}

header nav ul {
    margin-right: 2em;
}

header nav ul li {
    display: inline-block;
    margin: 0px 15px;
}

header nav ul li a {
    color: #2E2E2E;
    padding: 10px 0px;
    font-size: 15px;
    text-transform: uppercase;
}






/* sebastian */

#slide_images #slide_img_3{
    display:none;
}
#slide_images #slide_img_4{
    display:none;
}
#slide #slide_img_1{
    width: 45%;

}
#slide #slide_img_2{
    width: 45%;
    
}



/* salvatore */






/* leo */


	
}
@media screen and (max-width: 991px) {
/* cristian */


/* eloise */





/* sebastian */





/* salvatore */






/* leo */


	
}
@media screen and (min-width: 992px) {
/*Sebastian*/
	#slide #slide_dot_3{
        display:none;
    }
    #slide #slide_dot_4{
        display:none;
    }
    #slide #slide_img_3{
        display:inline;
        width: 24%;
    }
    #slide #slide_img_4{
        display:inline;
        width: 24%;
    }
    #slide #slide_img_1{
        width: 24%;
    
    }
    #slide #slide_img_2{
        width: 24%;
    }    
    #slide #slide_position{
        margin-left: 50%;
    }    

}
@media screen and (max-width: 1200px) {

	
}
